<fieldset>
  <legend>Edit Todo</legend>
  <!-- TITLE -->
  <p>
    <label for="review-title">Todo name</label><br>
    <input id="review-title" type="text" name="title" value="{{review.title}}"/>
  </p>

  <!-- MOVIE TITLE -->
  <p>
    <label for="movie-title">Todo name</label><br>
    <input id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
  </p>

  <!-- DESCRIPTION -->
  <p>
    <label for="review-description">Todo description</label><br>
    <textarea id="review-description" name="description" rows="10" />{{review.description}}</textarea>
  </p>
</fieldset>
